Leia o arquivo "DadosEmpresa.csv"

In [16]:
import pandas as pd
dadosEmpresa_df = pd.read_csv("DadosEmpresa.csv")

Print no terminal as colunas desse arquivo

In [17]:
print("Colunas = ", end = "")
for col_name in dadosEmpresa_df.columns:
    print(col_name, end=" ")

Colunas = cnpj raiz_cnpj matriz_filial razao_social opcao_pelo_simples capital_social

Print no terminal as primeiras linhas desse arquivo

In [18]:
display(dadosEmpresa_df.head())

,cnpj,raiz_cnpj,matriz_filial,razao_social,opcao_pelo_simples,capital_social
0,126195000110,126195,MATRIZ,TRAMA SOFTWARE LTDA,NAO,0
1,155991000181,155991,MATRIZ,ELEKTI - APOIO A EDUCACAO E FORNECIMENTO DE BO...,NAO,40000
2,321106000197,321106,MATRIZ,VIRTUAL TECNOLOGIA & SERVICOS LTDA,NAO,5000
3,358376000172,358376,MATRIZ,SARTOR ASSESSORIA E COMERCIO DE INFORMATICA LTDA,SIM,0
4,563375000160,563375,MATRIZ,INDEXX INFORMATICA LTDA,SIM,0

Print no terminal o total de empresas nesse arquivo que tem a coluna "opcao_pelo_simples" com o valor "SIM";

In [19]:
opcaoSim = dadosEmpresa_df.loc[dadosEmpresa_df["opcao_pelo_simples"] == "SIM", "opcao_pelo_simples"]
display(opcaoSim.count())

383

Print no terminal a soma do "capital_social" de todas as empresas;

In [20]:
capitalSocialsum = dadosEmpresa_df['capital_social'].sum()
print(capitalSocialsum)

304313407

Print no terminal todas as empresas que tem "capital_social" maior que 10.000 e menor que 20.000

In [21]:
mod_df = dadosEmpresa_df.loc[((dadosEmpresa_df['capital_social'] > 10000) & (dadosEmpresa_df['capital_social'] < 20000)), ["razao_social", "capital_social"]]
display(mod_df)

                                          razao_social  capital_social
10   SOFTNEW SISTEMAS E CONSULTORIA EM INFORMATICA ...           15000
58                            FERAWEB INFORMATICA LTDA           15000
125              ISOLVE - SOLUCOES EM INFORMATICA LTDA           15000
131                             A. D. TURRI TECNOLOGIA           12000
190  R.J.D. CONSULTORIA E TECNOLOGIA PARA NEGOCIOS ...           16666
205  GE DIGITAL DO BRASIL SERVICOS EM INFORMATICA L...           17000
232  ELITE TRADER ASSESSORIA E CONSULTORIA EMPRESAR...           15000
281                            GOLIVE CONSULTORIA LTDA           13500
327           SMARTI CONSULTORIA E SERVICOS DE TI LTDA           12000
354  TRUE WORK CONSULTORIA E DESENVOLVIMENTO DE SIS...           15000
379  EGROUP CONSULTORIA EM TECNOLOGIA DA INFORMACAO...           15000
404  GOI & PEREZ CONSULTORIA, SERVICOS, VENDAS E LO...           15000
407                               ALF CONSULTORIA LTDA           15000
418        CORE SOLUTIONS - AUTOMACAO TECNOLOGICA LTDA           13000
449     WLAN REDES SEM FIO SERVICOS EM TECNOLOGIA LTDA           15000
467                                CDC TECNOLOGIA LTDA           12000
477                BEXPO TRANSFORMACAO E INOVACAO LTDA           12000
501                    TOLFO & KRABBE INFORMATICA LTDA           12000
502                               DPC CONSULTORIA LTDA           12000
535              BIM START SERVICOS TECNOLOGICOS LTDA.           15000
587        DOMINUS ASSESSORIA E CONSULTORIA EM TI LTDA           12000
609     SHERPA SOLUCOES EM SISTEMAS DE INFORMACAO LTDA           15000
616                   PLYS SERVICOS DE TECNOLOGIA LTDA           15000
698  ACTA TECH SERVICOS DE CONSULTORIA EM TECNOLOGI...           12000
719                                         C. GERLING           15000
721                    MADATECH SERVICOS DIGITAIS LTDA           15000
746                                GLA. SOLUTIONS LTDA           15000
760                             E.R.B.INFORMATICA LTDA           12000

EXTRA: Leia o arquivo "DadosEndereco.csv"

In [22]:
dadosEndereco_df = pd.read_csv("DadosEndereco.csv")

EXTRA: Faça um merge entre os dois arquivos pela coluna "cnpj" e salve um arquivo CSV com todas as empresas que são de "CURITIBA";

In [23]:
EmpresasCuritiba_df = dadosEmpresa_df.merge(dadosEndereco_df)
EmpresasCuritiba_df = EmpresasCuritiba_df.loc[EmpresasCuritiba_df["municipio"] == "CURITIBA"]
EmpresasCuritiba_df.to_csv("EmpresasCuritiba.csv")

In [ ]:
display(EmpresasCuritiba_df.head(10))